USE [master]
GO
/****** Object:  Database [FPTFreelanceJob]    Script Date: 7/7/2022 3:49:08 PM ******/
CREATE DATABASE [FPTFreelanceJob]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FPTFreelanceJob', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FPTFreelanceJob.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FPTFreelanceJob_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FPTFreelanceJob_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FPTFreelanceJob].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FPTFreelanceJob]
GO
/****** Object:  UserDefinedFunction [dbo].[tvf-Date-Elapsed]    Script Date: 7/7/2022 3:49:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[tvf-Date-Elapsed] (@D1 DateTime,@D2 DateTime)
Returns Table
Return (
    with cteBN(N)   as (Select 1 From (Values(1),(1),(1),(1),(1),(1),(1),(1),(1),(1)) N(N)),
         cteRN(R)   as (Select Row_Number() Over (Order By (Select NULL))-1 From cteBN a,cteBN b,cteBN c),
         cteYY(N,D) as (Select Max(R),Max(DateAdd(YY,R,@D1))From cteRN R Where DateAdd(YY,R,@D1)<=@D2),
         cteMM(N,D) as (Select Max(R),Max(DateAdd(MM,R,D))  From (Select Top 12 R From cteRN Order By 1) R, cteYY P Where DateAdd(MM,R,D)<=@D2),
         cteDD(N,D) as (Select Max(R),Max(DateAdd(DD,R,D))  From (Select Top 31 R From cteRN Order By 1) R, cteMM P Where DateAdd(DD,R,D)<=@D2),
         cteHH(N,D) as (Select Max(R),Max(DateAdd(HH,R,D))  From (Select Top 24 R From cteRN Order By 1) R, cteDD P Where DateAdd(HH,R,D)<=@D2),
         cteMI(N,D) as (Select Max(R),Max(DateAdd(MI,R,D))  From (Select Top 60 R From cteRN Order By 1) R, cteHH P Where DateAdd(MI,R,D)<=@D2),
         cteSS(N,D) as (Select Max(R),Max(DateAdd(SS,R,D))  From (Select Top 60 R From cteRN Order By 1) R, cteMI P Where DateAdd(SS,R,D)<=@D2)

    Select [Years]   = cteYY.N
          ,[Months]  = cteMM.N
          ,[Days]    = cteDD.N
          ,[Hours]   = cteHH.N
          ,[Minutes] = cteMI.N
          ,[Seconds] = cteSS.N
          --,[Elapsed] = Format(cteYY.N,'0000')+':'+Format(cteMM.N,'00')+':'+Format(cteDD.N,'00')+' '+Format(cteHH.N,'00')+':'+Format(cteMI.N,'00')+':'+Format(cteSS.N,'00')
     From  cteYY,cteMM,cteDD,cteHH,cteMI,cteSS
)
GO
/****** Object:  Table [dbo].[tblAdmin]    Script Date: 7/7/2022 3:49:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAdmin](
	[id_admin] [int] NOT NULL,
	[type] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblChat]    Script Date: 7/7/2022 3:49:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[message] [nvarchar](255) NULL,
	[idUserSend] [int] NULL,
	[idUserReceive] [int] NULL,
	[create_time] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblContract]    Script Date: 7/7/2022 3:49:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblContract](
	[id_contract] [int] IDENTITY(1,1) NOT NULL,
	[id_freelancer] [int] NOT NULL,
	[id_employer] [int] NOT NULL,
	[id_job] [int] NOT NULL,
	[status] [bit] NULL,
	[create_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_contract] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmployer]    Script Date: 7/7/2022 3:49:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployer](
	[id_employer] [int] NOT NULL,
	[type] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_employer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFeedback]    Script Date: 7/7/2022 3:49:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFeedback](
	[id_feedback] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](1000) NULL,
	[rating] [int] NULL,
	[id_freelancer] [int] NOT NULL,
	[id_employer] [int] NOT NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_feedback] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFreelancer]    Script Date: 7/7/2022 3:49:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFreelancer](
	[id_freelancer] [int] NOT NULL,
	[type] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_freelancer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFreelancerSkill]    Script Date: 7/7/2022 3:49:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFreelancerSkill](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_freelancer] [int] NOT NULL,
	[id_skill] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblJob]    Script Date: 7/7/2022 3:49:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblJob](
	[id_job] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[salary] [float] NOT NULL,
	[description] [nvarchar](max) NULL,
	[duration] [float] NULL,
	[start_date] [date] NULL,
	[id_status] [int] NULL,
	[id_employer] [int] NULL,
	[id_major] [char](5) NOT NULL,
	[create_date] [datetime] NULL,
	[payment_status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_job] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblJobApplication]    Script Date: 7/7/2022 3:49:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblJobApplication](
	[id_application] [int] IDENTITY(1,1) NOT NULL,
	[id_freelancer] [int] NOT NULL,
	[id_job] [int] NOT NULL,
	[status] [bit] NULL,
	[create_date] [datetime] NULL,
	[note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_application] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblJobReport]    Script Date: 7/7/2022 3:49:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblJobReport](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[content_report] [nvarchar](2000) NULL,
	[id_job] [int] NULL,
	[id_user_report] [int] NOT NULL,
	[create_date] [datetime] NULL,
	[job_title] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblJobSkill]    Script Date: 7/7/2022 3:49:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblJobSkill](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_skill] [int] NULL,
	[id_job] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblJobStatus]    Script Date: 7/7/2022 3:49:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblJobStatus](
	[id_status] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMajor]    Script Date: 7/7/2022 3:49:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMajor](
	[id_major] [char](5) NOT NULL,
	[major_name] [nvarchar](255) NOT NULL,
	[img_major] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_major] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMilestone]    Script Date: 7/7/2022 3:49:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMilestone](
	[id_milestone] [int] IDENTITY(1,1) NOT NULL,
	[tittle] [nvarchar](255) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[status] [bit] NULL,
	[id_job] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_milestone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNotification]    Script Date: 7/7/2022 3:49:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNotification](
	[id_noti] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NOT NULL,
	[content] [nvarchar](255) NOT NULL,
	[id_status] [int] NULL,
	[id_sender] [int] NULL,
	[create_date] [datetime] NULL,
	[id_mode] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_noti] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNotiStatus]    Script Date: 7/7/2022 3:49:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNotiStatus](
	[id_status] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSkill]    Script Date: 7/7/2022 3:49:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSkill](
	[id_skill] [int] IDENTITY(1,1) NOT NULL,
	[skill_name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_skill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSkillByMajor]    Script Date: 7/7/2022 3:49:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSkillByMajor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_major] [char](5) NOT NULL,
	[id_skill] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStorage]    Script Date: 7/7/2022 3:49:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStorage](
	[id_file] [int] IDENTITY(1,1) NOT NULL,
	[urlS3] [nvarchar](255) NULL,
	[id_job] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_file] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 7/7/2022 3:49:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](255) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[dob] [date] NULL,
	[address] [nvarchar](255) NULL,
	[bio] [nvarchar](3000) NULL,
	[phone] [char](20) NULL,
	[avatar] [varchar](255) NULL,
	[status] [bit] NULL,
	[balance] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblAdmin] ([id_admin], [type]) VALUES (8, N'Admin     ')
GO
SET IDENTITY_INSERT [dbo].[tblChat] ON 

INSERT [dbo].[tblChat] ([id], [message], [idUserSend], [idUserReceive], [create_time]) VALUES (6, N'hello', 4, 6, CAST(N'20:30:00' AS Time))
INSERT [dbo].[tblChat] ([id], [message], [idUserSend], [idUserReceive], [create_time]) VALUES (7, N'hello thippp', 6, 4, CAST(N'20:31:00' AS Time))
INSERT [dbo].[tblChat] ([id], [message], [idUserSend], [idUserReceive], [create_time]) VALUES (8, N'khoe khong', 4, 6, CAST(N'20:32:00' AS Time))
SET IDENTITY_INSERT [dbo].[tblChat] OFF
GO
SET IDENTITY_INSERT [dbo].[tblContract] ON 

INSERT [dbo].[tblContract] ([id_contract], [id_freelancer], [id_employer], [id_job], [status], [create_date]) VALUES (10, 6, 4, 30, 1, CAST(N'2022-06-15T21:20:57.297' AS DateTime))
INSERT [dbo].[tblContract] ([id_contract], [id_freelancer], [id_employer], [id_job], [status], [create_date]) VALUES (11, 9, 4, 28, 1, CAST(N'2022-06-15T21:21:06.177' AS DateTime))
INSERT [dbo].[tblContract] ([id_contract], [id_freelancer], [id_employer], [id_job], [status], [create_date]) VALUES (12, 6, 4, 27, 1, CAST(N'2022-06-16T13:27:07.480' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblContract] OFF
GO
INSERT [dbo].[tblEmployer] ([id_employer], [type]) VALUES (1, N'Employer  ')
INSERT [dbo].[tblEmployer] ([id_employer], [type]) VALUES (4, N'Employer  ')
INSERT [dbo].[tblEmployer] ([id_employer], [type]) VALUES (6, N'Employer  ')
GO
SET IDENTITY_INSERT [dbo].[tblFeedback] ON 

INSERT [dbo].[tblFeedback] ([id_feedback], [content], [rating], [id_freelancer], [id_employer], [status]) VALUES (1, N'giá»i quÃ¡ ieeee', 5, 9, 6, 1)
INSERT [dbo].[tblFeedback] ([id_feedback], [content], [rating], [id_freelancer], [id_employer], [status]) VALUES (2, N'good job', 4, 6, 4, 1)
INSERT [dbo].[tblFeedback] ([id_feedback], [content], [rating], [id_freelancer], [id_employer], [status]) VALUES (3, N'good', 4, 9, 4, 1)
SET IDENTITY_INSERT [dbo].[tblFeedback] OFF
GO
INSERT [dbo].[tblFreelancer] ([id_freelancer], [type]) VALUES (1, N'Freelancer')
INSERT [dbo].[tblFreelancer] ([id_freelancer], [type]) VALUES (4, N'Freelancer')
INSERT [dbo].[tblFreelancer] ([id_freelancer], [type]) VALUES (6, N'Freelancer')
GO
SET IDENTITY_INSERT [dbo].[tblFreelancerSkill] ON 

INSERT [dbo].[tblFreelancerSkill] ([id], [id_freelancer], [id_skill]) VALUES (1, 6, 1)
INSERT [dbo].[tblFreelancerSkill] ([id], [id_freelancer], [id_skill]) VALUES (2, 6, 8)
INSERT [dbo].[tblFreelancerSkill] ([id], [id_freelancer], [id_skill]) VALUES (3, 1, 1)
SET IDENTITY_INSERT [dbo].[tblFreelancerSkill] OFF
GO
SET IDENTITY_INSERT [dbo].[tblJob] ON 

INSERT [dbo].[tblJob] ([id_job], [title], [salary], [description], [duration], [start_date], [id_status], [id_employer], [id_major], [create_date], [payment_status]) VALUES (23, N'Viết document môn swr', 1000000, N'In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content', 3, CAST(N'2022-06-23' AS Date), 4, 6, N'AI   ', CAST(N'2022-06-15T20:48:56.303' AS DateTime), 1)
INSERT [dbo].[tblJob] ([id_job], [title], [salary], [description], [duration], [start_date], [id_status], [id_employer], [id_major], [create_date], [payment_status]) VALUES (24, N'Làm topic môn swt appiu', 1000000, N'<p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content</p>
', 10, CAST(N'2022-06-22' AS Date), 4, 6, N'IB   ', CAST(N'2022-06-15T20:50:10.387' AS DateTime), 0)
INSERT [dbo].[tblJob] ([id_job], [title], [salary], [description], [duration], [start_date], [id_status], [id_employer], [id_major], [create_date], [payment_status]) VALUES (25, N'Làm coursera môn swe', 1000000, N'In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content', 10, CAST(N'2022-06-23' AS Date), 4, 6, N'EN   ', CAST(N'2022-06-15T20:51:16.253' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[tblJob] OFF
GO
SET IDENTITY_INSERT [dbo].[tblJobApplication] ON 

INSERT [dbo].[tblJobApplication] ([id_application], [id_freelancer], [id_job], [status], [create_date], [note]) VALUES (24, 9, 30, 0, CAST(N'2022-06-15T21:19:37.640' AS DateTime), NULL)
INSERT [dbo].[tblJobApplication] ([id_application], [id_freelancer], [id_job], [status], [create_date], [note]) VALUES (25, 9, 28, 1, CAST(N'2022-06-15T21:19:50.590' AS DateTime), NULL)
INSERT [dbo].[tblJobApplication] ([id_application], [id_freelancer], [id_job], [status], [create_date], [note]) VALUES (26, 6, 30, 1, CAST(N'2022-06-15T21:20:10.323' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tblJobApplication] OFF
GO
SET IDENTITY_INSERT [dbo].[tblJobReport] ON 

INSERT [dbo].[tblJobReport] ([id], [content_report], [id_job], [id_user_report], [create_date], [job_title]) VALUES (1, N'xàm', 40, 6, CAST(N'2022-06-22T09:35:21.937' AS DateTime), N'Viết tiểu luận bằng tiếng anh ')
INSERT [dbo].[tblJobReport] ([id], [content_report], [id_job], [id_user_report], [create_date], [job_title]) VALUES (2, N'Job xàm', 37, 6, CAST(N'2022-06-22T09:36:27.187' AS DateTime), N'Vẽ logo brand freelance job')
INSERT [dbo].[tblJobReport] ([id], [content_report], [id_job], [id_user_report], [create_date], [job_title]) VALUES (3, N'employer bịp', 40, 9, CAST(N'2022-06-22T09:37:16.617' AS DateTime), N'Viết tiểu luận bằng tiếng anh ')
SET IDENTITY_INSERT [dbo].[tblJobReport] OFF
GO
SET IDENTITY_INSERT [dbo].[tblJobSkill] ON 

INSERT [dbo].[tblJobSkill] ([id], [id_skill], [id_job]) VALUES (117, 11, 25)
INSERT [dbo].[tblJobSkill] ([id], [id_skill], [id_job]) VALUES (118, 12, 25)
INSERT [dbo].[tblJobSkill] ([id], [id_skill], [id_job]) VALUES (119, 13, 25)
SET IDENTITY_INSERT [dbo].[tblJobSkill] OFF
GO
SET IDENTITY_INSERT [dbo].[tblJobStatus] ON 

INSERT [dbo].[tblJobStatus] ([id_status], [status_name]) VALUES (1, N'Spam')
INSERT [dbo].[tblJobStatus] ([id_status], [status_name]) VALUES (2, N'Posted')
INSERT [dbo].[tblJobStatus] ([id_status], [status_name]) VALUES (3, N'Updated')
SET IDENTITY_INSERT [dbo].[tblJobStatus] OFF
GO
INSERT [dbo].[tblMajor] ([id_major], [major_name], [img_major]) VALUES (N'AI   ', N'Artificial intelligence', N'https://cdn-icons-png.flaticon.com/512/1693/1693894.png')
INSERT [dbo].[tblMajor] ([id_major], [major_name], [img_major]) VALUES (N'EN   ', N'English linguistics', N'https://cdn-icons-png.flaticon.com/512/5388/5388698.png')
INSERT [dbo].[tblMajor] ([id_major], [major_name], [img_major]) VALUES (N'GD   ', N'Graphic design', N'https://cdn-icons-png.flaticon.com/512/2779/2779775.png')
GO
SET IDENTITY_INSERT [dbo].[tblMilestone] ON 

INSERT [dbo].[tblMilestone] ([id_milestone], [tittle], [start_date], [end_date], [status], [id_job]) VALUES (1, N'làm thinh', CAST(N'2022-06-23' AS Date), CAST(N'2022-06-26' AS Date), 0, 23)
INSERT [dbo].[tblMilestone] ([id_milestone], [tittle], [start_date], [end_date], [status], [id_job]) VALUES (2, N'okk', CAST(N'2022-06-25' AS Date), CAST(N'2022-06-25' AS Date), 0, 23)
INSERT [dbo].[tblMilestone] ([id_milestone], [tittle], [start_date], [end_date], [status], [id_job]) VALUES (3, N'làm thinh', CAST(N'2022-06-23' AS Date), CAST(N'2022-06-26' AS Date), 0, 23)
SET IDENTITY_INSERT [dbo].[tblMilestone] OFF
GO
SET IDENTITY_INSERT [dbo].[tblNotification] ON 

INSERT [dbo].[tblNotification] ([id_noti], [id_user], [content], [id_status], [id_sender], [create_date], [id_mode]) VALUES (2, 8, N'Cắt layout was updated by Doan Vu Quang Huy', 1, NULL, NULL, NULL)
INSERT [dbo].[tblNotification] ([id_noti], [id_user], [content], [id_status], [id_sender], [create_date], [id_mode]) VALUES (9, 8, N'Làm assignment PRJ301 was updated by Doan Vu Quang Huy', 1, NULL, NULL, NULL)
INSERT [dbo].[tblNotification] ([id_noti], [id_user], [content], [id_status], [id_sender], [create_date], [id_mode]) VALUES (10, 8, N'Thi dùm FE  SWE was updated by Doan Vu Quang Huy', 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblNotification] OFF
GO
SET IDENTITY_INSERT [dbo].[tblNotiStatus] ON 

INSERT [dbo].[tblNotiStatus] ([id_status], [status_name]) VALUES (1, N'Update')
INSERT [dbo].[tblNotiStatus] ([id_status], [status_name]) VALUES (2, N'Read')
INSERT [dbo].[tblNotiStatus] ([id_status], [status_name]) VALUES (3, N'Unread')
SET IDENTITY_INSERT [dbo].[tblNotiStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[tblSkill] ON 

INSERT [dbo].[tblSkill] ([id_skill], [skill_name]) VALUES (1, N'Java')
INSERT [dbo].[tblSkill] ([id_skill], [skill_name]) VALUES (2, N'C#')
INSERT [dbo].[tblSkill] ([id_skill], [skill_name]) VALUES (3, N'C++')
SET IDENTITY_INSERT [dbo].[tblSkill] OFF
GO
SET IDENTITY_INSERT [dbo].[tblSkillByMajor] ON 

INSERT [dbo].[tblSkillByMajor] ([id], [id_major], [id_skill]) VALUES (1, N'SE   ', 1)
INSERT [dbo].[tblSkillByMajor] ([id], [id_major], [id_skill]) VALUES (2, N'SE   ', 2)
INSERT [dbo].[tblSkillByMajor] ([id], [id_major], [id_skill]) VALUES (3, N'SE   ', 3)
SET IDENTITY_INSERT [dbo].[tblSkillByMajor] OFF
GO
SET IDENTITY_INSERT [dbo].[tblStorage] ON 

INSERT [dbo].[tblStorage] ([id_file], [urlS3], [id_job]) VALUES (4, N'https://freelancejob2022.s3.us-west-1.amazonaws.com/idjob123.JPG', 39)
INSERT [dbo].[tblStorage] ([id_file], [urlS3], [id_job]) VALUES (6, N'https://freelancejob2022.s3.us-west-1.amazonaws.com/idjob123.JPG', 39)
INSERT [dbo].[tblStorage] ([id_file], [urlS3], [id_job]) VALUES (7, N'https://freelancejob2022.s3.us-west-1.amazonaws.com/IMG_3049.JPG', 39)
SET IDENTITY_INSERT [dbo].[tblStorage] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUser] ON 

INSERT [dbo].[tblUser] ([id_user], [fullname], [email], [dob], [address], [bio], [phone], [avatar], [status], [balance]) VALUES (1, N'Nguyen Thanh Tung', N'tungntse151167@fpt.edu.vn', CAST(N'2001-09-16' AS Date), N'FPT University HCMC', N'Happy code - Happy money - Happy life', N'0868649875          ', N'https://lh3.googleusercontent.com/a-/AOh14Gg1FepAR0a7QPecGiCjewAkPlvViFlewVyhWbUJxQ=s96-c?fbclid=IwAR036LzOxBs-SpmPnBMZZ_iDemNUlOKhkiHqveIoSD1KCN_QW0mNpC-sfmU', 1, 0)
INSERT [dbo].[tblUser] ([id_user], [fullname], [email], [dob], [address], [bio], [phone], [avatar], [status], [balance]) VALUES (4, N'Ngo Xuan Thiep', N'thiepnxse151074@fpt.edu.vn', CAST(N'2001-01-01' AS Date), N'FPT University HCMC', N'Happy code - Happy money - Happy life', N'0987654321          ', N'https://lh3.googleusercontent.com/a-/AOh14Gh0g7NnfVO8L3hUL8EvzgRM1Oxy_hBKx77HKrc4=s96-c', 1, 0)
INSERT [dbo].[tblUser] ([id_user], [fullname], [email], [dob], [address], [bio], [phone], [avatar], [status], [balance]) VALUES (6, N'Doan Vu Quang Huy', N'huydvqse151224@fpt.edu.vn', CAST(N'2001-10-06' AS Date), N'FPT University HCMC', N'Happy code - Happy money - Happy life', N'0909563182          ', N'https://lh3.googleusercontent.com/a-/AOh14GjA10ilxjaK-ex8IUmwOVHzNmx7yhwDjoZ22GND3Q=s96-c', 1, 0)
SET IDENTITY_INSERT [dbo].[tblUser] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tblUser__AB6E6164EAACBA9D]    Script Date: 7/7/2022 3:49:09 PM ******/
ALTER TABLE [dbo].[tblUser] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblAdmin] ADD  DEFAULT ('Admin') FOR [type]
GO
ALTER TABLE [dbo].[tblContract] ADD  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [dbo].[tblEmployer] ADD  DEFAULT ('Employer') FOR [type]
GO
ALTER TABLE [dbo].[tblFreelancer] ADD  DEFAULT ('Freelancer') FOR [type]
GO
ALTER TABLE [dbo].[tblJob] ADD  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [dbo].[tblJobApplication] ADD  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [dbo].[tblJobReport] ADD  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [dbo].[tblNotification] ADD  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [dbo].[tblUser] ADD  DEFAULT ((0)) FOR [balance]
GO
ALTER TABLE [dbo].[tblAdmin]  WITH CHECK ADD FOREIGN KEY([id_admin])
REFERENCES [dbo].[tblUser] ([id_user])
GO
ALTER TABLE [dbo].[tblChat]  WITH CHECK ADD  CONSTRAINT [FK_chatuserreceive] FOREIGN KEY([idUserReceive])
REFERENCES [dbo].[tblUser] ([id_user])
GO
ALTER TABLE [dbo].[tblChat] CHECK CONSTRAINT [FK_chatuserreceive]
GO
ALTER TABLE [dbo].[tblChat]  WITH CHECK ADD  CONSTRAINT [FK_chatusersend] FOREIGN KEY([idUserSend])
REFERENCES [dbo].[tblUser] ([id_user])
GO
ALTER TABLE [dbo].[tblChat] CHECK CONSTRAINT [FK_chatusersend]
GO
ALTER TABLE [dbo].[tblContract]  WITH CHECK ADD FOREIGN KEY([id_employer])
REFERENCES [dbo].[tblEmployer] ([id_employer])
GO
ALTER TABLE [dbo].[tblContract]  WITH CHECK ADD FOREIGN KEY([id_freelancer])
REFERENCES [dbo].[tblFreelancer] ([id_freelancer])
GO
ALTER TABLE [dbo].[tblContract]  WITH CHECK ADD FOREIGN KEY([id_job])
REFERENCES [dbo].[tblJob] ([id_job])
GO
ALTER TABLE [dbo].[tblEmployer]  WITH CHECK ADD FOREIGN KEY([id_employer])
REFERENCES [dbo].[tblUser] ([id_user])
GO
ALTER TABLE [dbo].[tblFeedback]  WITH CHECK ADD FOREIGN KEY([id_employer])
REFERENCES [dbo].[tblEmployer] ([id_employer])
GO
ALTER TABLE [dbo].[tblFeedback]  WITH CHECK ADD FOREIGN KEY([id_freelancer])
REFERENCES [dbo].[tblFreelancer] ([id_freelancer])
GO
ALTER TABLE [dbo].[tblFreelancer]  WITH CHECK ADD FOREIGN KEY([id_freelancer])
REFERENCES [dbo].[tblUser] ([id_user])
GO
ALTER TABLE [dbo].[tblFreelancerSkill]  WITH CHECK ADD FOREIGN KEY([id_freelancer])
REFERENCES [dbo].[tblFreelancer] ([id_freelancer])
GO
ALTER TABLE [dbo].[tblFreelancerSkill]  WITH CHECK ADD FOREIGN KEY([id_skill])
REFERENCES [dbo].[tblSkill] ([id_skill])
GO
ALTER TABLE [dbo].[tblJob]  WITH CHECK ADD FOREIGN KEY([id_employer])
REFERENCES [dbo].[tblEmployer] ([id_employer])
GO
ALTER TABLE [dbo].[tblJob]  WITH CHECK ADD FOREIGN KEY([id_major])
REFERENCES [dbo].[tblMajor] ([id_major])
GO
ALTER TABLE [dbo].[tblJob]  WITH CHECK ADD FOREIGN KEY([id_status])
REFERENCES [dbo].[tblJobStatus] ([id_status])
GO
ALTER TABLE [dbo].[tblJobApplication]  WITH CHECK ADD FOREIGN KEY([id_freelancer])
REFERENCES [dbo].[tblFreelancer] ([id_freelancer])
GO
ALTER TABLE [dbo].[tblJobApplication]  WITH CHECK ADD FOREIGN KEY([id_job])
REFERENCES [dbo].[tblJob] ([id_job])
GO
ALTER TABLE [dbo].[tblJobReport]  WITH CHECK ADD FOREIGN KEY([id_job])
REFERENCES [dbo].[tblJob] ([id_job])
GO
ALTER TABLE [dbo].[tblJobSkill]  WITH CHECK ADD FOREIGN KEY([id_job])
REFERENCES [dbo].[tblJob] ([id_job])
GO
ALTER TABLE [dbo].[tblJobSkill]  WITH CHECK ADD FOREIGN KEY([id_skill])
REFERENCES [dbo].[tblSkill] ([id_skill])
GO
ALTER TABLE [dbo].[tblMilestone]  WITH CHECK ADD FOREIGN KEY([id_job])
REFERENCES [dbo].[tblJob] ([id_job])
GO
ALTER TABLE [dbo].[tblNotification]  WITH CHECK ADD FOREIGN KEY([id_status])
REFERENCES [dbo].[tblNotiStatus] ([id_status])
GO
ALTER TABLE [dbo].[tblNotification]  WITH CHECK ADD FOREIGN KEY([id_user])
REFERENCES [dbo].[tblUser] ([id_user])
GO
ALTER TABLE [dbo].[tblSkillByMajor]  WITH CHECK ADD FOREIGN KEY([id_major])
REFERENCES [dbo].[tblMajor] ([id_major])
GO
ALTER TABLE [dbo].[tblSkillByMajor]  WITH CHECK ADD FOREIGN KEY([id_skill])
REFERENCES [dbo].[tblSkill] ([id_skill])
GO
ALTER TABLE [dbo].[tblStorage]  WITH CHECK ADD FOREIGN KEY([id_job])
REFERENCES [dbo].[tblJob] ([id_job])
GO
ALTER TABLE [dbo].[tblFeedback]  WITH CHECK ADD CHECK  (([rating]>=(0) OR [rating]<=(5)))
GO
ALTER TABLE [dbo].[tblJob]  WITH CHECK ADD CHECK  (([salary]>(0)))
GO
/****** Object:  StoredProcedure [dbo].[Check_Milestone_Status]    Script Date: 7/7/2022 3:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Check_Milestone_Status] @ID_MILESTONE INT 
AS
BEGIN
    IF (SELECT DATEDIFF(DAY, GETDATE(), end_date)
        FROM tblMilestone
        WHERE id_milestone = @ID_MILESTONE) <= 0
        BEGIN
        UPDATE tblMilestone
        SET status = 0
        WHERE id_milestone = @ID_MILESTONE 
        END
END
GO
USE [master]
GO
