USE [master]
GO
/****** Object:  Database [FPTFreelanceJob]    Script Date: 14/06/2022 10:31:11 AM ******/
CREATE DATABASE [FPTFreelanceJob]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FPTFreelanceJob', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FPTFreelanceJob.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FPTFreelanceJob_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FPTFreelanceJob_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FPTFreelanceJob].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FPTFreelanceJob]
GO
/****** Object:  Table [dbo].[tblAdmin]    Script Date: 14/06/2022 10:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAdmin](
	[id_admin] [int] NOT NULL,
	[type] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblContract]    Script Date: 14/06/2022 10:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblContract](
	[id_contract] [int] IDENTITY(1,1) NOT NULL,
	[id_freelancer] [int] NOT NULL,
	[id_employer] [int] NOT NULL,
	[id_job] [int] NOT NULL,
	[status] [bit] NULL,
	[create_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_contract] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmployer]    Script Date: 14/06/2022 10:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployer](
	[id_employer] [int] NOT NULL,
	[type] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_employer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFeedback]    Script Date: 14/06/2022 10:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFeedback](
	[id_feedback] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](1000) NULL,
	[rating] [int] NULL,
	[id_freelancer] [int] NOT NULL,
	[id_employer] [int] NOT NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_feedback] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFreelancer]    Script Date: 14/06/2022 10:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFreelancer](
	[id_freelancer] [int] NOT NULL,
	[type] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_freelancer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFreelancerSkill]    Script Date: 14/06/2022 10:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFreelancerSkill](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_freelancer] [int] NOT NULL,
	[id_skill] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblJob]    Script Date: 14/06/2022 10:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblJob](
	[id_job] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[salary] [float] NOT NULL,
	[description] [nvarchar](255) NOT NULL,
	[duration] [float] NULL,
	[start_date] [date] NULL,
	[id_status] [int] NULL,
	[id_employer] [int] NULL,
	[id_major] [char](5) NOT NULL,
	[create_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_job] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblJobApplication]    Script Date: 14/06/2022 10:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblJobApplication](
	[id_application] [int] IDENTITY(1,1) NOT NULL,
	[id_freelancer] [int] NOT NULL,
	[id_job] [int] NOT NULL,
	[status] [bit] NULL,
	[create_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_application] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblJobSkill]    Script Date: 14/06/2022 10:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblJobSkill](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_skill] [int] NULL,
	[id_job] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblJobStatus]    Script Date: 14/06/2022 10:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblJobStatus](
	[id_status] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMajor]    Script Date: 14/06/2022 10:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMajor](
	[id_major] [char](5) NOT NULL,
	[major_name] [nvarchar](255) NOT NULL,
	[img_major] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_major] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNotification]    Script Date: 14/06/2022 10:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNotification](
	[id_noti] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NOT NULL,
	[content] [nvarchar](255) NOT NULL,
	[id_status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_noti] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNotiStatus]    Script Date: 14/06/2022 10:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNotiStatus](
	[id_status] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSkill]    Script Date: 14/06/2022 10:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSkill](
	[id_skill] [int] IDENTITY(1,1) NOT NULL,
	[skill_name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_skill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSkillByMajor]    Script Date: 14/06/2022 10:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSkillByMajor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_major] [char](5) NOT NULL,
	[id_skill] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 14/06/2022 10:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](255) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[dob] [date] NULL,
	[address] [nvarchar](255) NULL,
	[bio] [nvarchar](3000) NULL,
	[phone] [char](20) NULL,
	[avatar] [varchar](255) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblAdmin] ([id_admin], [type]) VALUES (8, N'Admin     ')
GO
SET IDENTITY_INSERT [dbo].[tblContract] ON 

INSERT [dbo].[tblContract] ([id_contract], [id_freelancer], [id_employer], [id_job], [status], [create_date]) VALUES (1, 4, 1, 1, 0, CAST(N'2022-06-06T21:57:56.100' AS DateTime))
INSERT [dbo].[tblContract] ([id_contract], [id_freelancer], [id_employer], [id_job], [status], [create_date]) VALUES (2, 6, 4, 6, 1, CAST(N'2022-06-06T23:55:58.053' AS DateTime))
INSERT [dbo].[tblContract] ([id_contract], [id_freelancer], [id_employer], [id_job], [status], [create_date]) VALUES (3, 4, 6, 6, 0, CAST(N'2022-06-07T08:44:44.943' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblContract] OFF
GO
INSERT [dbo].[tblEmployer] ([id_employer], [type]) VALUES (1, N'Employer  ')
INSERT [dbo].[tblEmployer] ([id_employer], [type]) VALUES (4, N'Employer  ')
INSERT [dbo].[tblEmployer] ([id_employer], [type]) VALUES (6, N'Employer  ')
GO
INSERT [dbo].[tblFreelancer] ([id_freelancer], [type]) VALUES (1, N'Freelancer')
INSERT [dbo].[tblFreelancer] ([id_freelancer], [type]) VALUES (4, N'Freelancer')
INSERT [dbo].[tblFreelancer] ([id_freelancer], [type]) VALUES (6, N'Freelancer')
GO
SET IDENTITY_INSERT [dbo].[tblFreelancerSkill] ON 

INSERT [dbo].[tblFreelancerSkill] ([id], [id_freelancer], [id_skill]) VALUES (1, 6, 1)
INSERT [dbo].[tblFreelancerSkill] ([id], [id_freelancer], [id_skill]) VALUES (2, 6, 8)
INSERT [dbo].[tblFreelancerSkill] ([id], [id_freelancer], [id_skill]) VALUES (3, 1, 1)
SET IDENTITY_INSERT [dbo].[tblFreelancerSkill] OFF
GO
SET IDENTITY_INSERT [dbo].[tblJob] ON 

INSERT [dbo].[tblJob] ([id_job], [title], [salary], [description], [duration], [start_date], [id_status], [id_employer], [id_major], [create_date]) VALUES (1, N'Thi dùm FE SWE', 1500000, N'Ahahaahahahahahahahahaaa', 2, CAST(N'2022-06-13' AS Date), 2, 6, N'AI   ', CAST(N'2022-06-03T08:59:08.387' AS DateTime))
INSERT [dbo].[tblJob] ([id_job], [title], [salary], [description], [duration], [start_date], [id_status], [id_employer], [id_major], [create_date]) VALUES (6, N'Làm assignment PRJ301', 1000000, N'Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page', 2, CAST(N'2022-05-30' AS Date), 3, 6, N'SE   ', CAST(N'2022-06-03T08:59:08.387' AS DateTime))
INSERT [dbo].[tblJob] ([id_job], [title], [salary], [description], [duration], [start_date], [id_status], [id_employer], [id_major], [create_date]) VALUES (7, N'Cắt layout', 1000000, N'Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page', 1, CAST(N'2022-06-01' AS Date), 3, 6, N'GD   ', CAST(N'2022-06-03T08:59:08.387' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblJob] OFF
GO
SET IDENTITY_INSERT [dbo].[tblJobApplication] ON 

INSERT [dbo].[tblJobApplication] ([id_application], [id_freelancer], [id_job], [status], [create_date]) VALUES (2, 4, 1, 0, NULL)
INSERT [dbo].[tblJobApplication] ([id_application], [id_freelancer], [id_job], [status], [create_date]) VALUES (3, 4, 6, 1, NULL)
INSERT [dbo].[tblJobApplication] ([id_application], [id_freelancer], [id_job], [status], [create_date]) VALUES (4, 1, 6, 0, NULL)
SET IDENTITY_INSERT [dbo].[tblJobApplication] OFF
GO
SET IDENTITY_INSERT [dbo].[tblJobSkill] ON 

INSERT [dbo].[tblJobSkill] ([id], [id_skill], [id_job]) VALUES (3, 1, 6)
INSERT [dbo].[tblJobSkill] ([id], [id_skill], [id_job]) VALUES (4, 5, 6)
INSERT [dbo].[tblJobSkill] ([id], [id_skill], [id_job]) VALUES (5, 12, 6)
SET IDENTITY_INSERT [dbo].[tblJobSkill] OFF
GO
SET IDENTITY_INSERT [dbo].[tblJobStatus] ON 

INSERT [dbo].[tblJobStatus] ([id_status], [status_name]) VALUES (1, N'Spam')
INSERT [dbo].[tblJobStatus] ([id_status], [status_name]) VALUES (2, N'Posted')
INSERT [dbo].[tblJobStatus] ([id_status], [status_name]) VALUES (3, N'Updated')
SET IDENTITY_INSERT [dbo].[tblJobStatus] OFF
GO
INSERT [dbo].[tblMajor] ([id_major], [major_name], [img_major]) VALUES (N'AI   ', N'Artificial intelligence', N'https://cdn-icons-png.flaticon.com/512/1693/1693894.png')
INSERT [dbo].[tblMajor] ([id_major], [major_name], [img_major]) VALUES (N'EN   ', N'English linguistics', N'https://cdn-icons-png.flaticon.com/512/5388/5388698.png')
INSERT [dbo].[tblMajor] ([id_major], [major_name], [img_major]) VALUES (N'GD   ', N'Graphic design', N'https://cdn-icons-png.flaticon.com/512/2779/2779775.png')
GO
SET IDENTITY_INSERT [dbo].[tblNotification] ON 

INSERT [dbo].[tblNotification] ([id_noti], [id_user], [content], [id_status]) VALUES (2, 6, N'Cắt layout was updated by Doan Vu Quang Huy', 1)
SET IDENTITY_INSERT [dbo].[tblNotification] OFF
GO
SET IDENTITY_INSERT [dbo].[tblNotiStatus] ON 

INSERT [dbo].[tblNotiStatus] ([id_status], [status_name]) VALUES (1, N'Update')
SET IDENTITY_INSERT [dbo].[tblNotiStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[tblSkill] ON 

INSERT [dbo].[tblSkill] ([id_skill], [skill_name]) VALUES (1, N'Java')
INSERT [dbo].[tblSkill] ([id_skill], [skill_name]) VALUES (2, N'C#')
INSERT [dbo].[tblSkill] ([id_skill], [skill_name]) VALUES (3, N'C++')
SET IDENTITY_INSERT [dbo].[tblSkill] OFF
GO
SET IDENTITY_INSERT [dbo].[tblSkillByMajor] ON 

INSERT [dbo].[tblSkillByMajor] ([id], [id_major], [id_skill]) VALUES (1, N'SE   ', 1)
INSERT [dbo].[tblSkillByMajor] ([id], [id_major], [id_skill]) VALUES (2, N'SE   ', 2)
INSERT [dbo].[tblSkillByMajor] ([id], [id_major], [id_skill]) VALUES (3, N'SE   ', 3)
SET IDENTITY_INSERT [dbo].[tblSkillByMajor] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUser] ON 

INSERT [dbo].[tblUser] ([id_user], [fullname], [email], [dob], [address], [bio], [phone], [avatar], [status]) VALUES (1, N'Nguyen Thanh Tung', N'tungntse151167@fpt.edu.vn', CAST(N'2001-09-16' AS Date), N'FPT University HCMC', N'Happy code - Happy money - Happy life', N'0868649875          ', N'https://lh3.googleusercontent.com/a-/AOh14Gg1FepAR0a7QPecGiCjewAkPlvViFlewVyhWbUJxQ=s96-c?fbclid=IwAR036LzOxBs-SpmPnBMZZ_iDemNUlOKhkiHqveIoSD1KCN_QW0mNpC-sfmU', 1)
INSERT [dbo].[tblUser] ([id_user], [fullname], [email], [dob], [address], [bio], [phone], [avatar], [status]) VALUES (4, N'Ngo Xuan Thiep', N'thiepnxse151074@fpt.edu.vn', CAST(N'2001-01-01' AS Date), N'FPT University HCMC', N'Happy code - Happy money - Happy life', N'0987654321          ', N'https://lh3.googleusercontent.com/a-/AOh14Gh0g7NnfVO8L3hUL8EvzgRM1Oxy_hBKx77HKrc4=s96-c', 1)
INSERT [dbo].[tblUser] ([id_user], [fullname], [email], [dob], [address], [bio], [phone], [avatar], [status]) VALUES (6, N'Doan Vu Quang Huy', N'huydvqse151224@fpt.edu.vn', CAST(N'2001-10-06' AS Date), N'FPT University HCMC', N'Happy code - Happy money - Happy life', N'0909563183          ', N'https://lh3.googleusercontent.com/a-/AOh14GjA10ilxjaK-ex8IUmwOVHzNmx7yhwDjoZ22GND3Q=s96-c', 1)
SET IDENTITY_INSERT [dbo].[tblUser] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tblUser__AB6E61641F736485]    Script Date: 14/06/2022 10:31:12 AM ******/
ALTER TABLE [dbo].[tblUser] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblAdmin] ADD  DEFAULT ('Admin') FOR [type]
GO
ALTER TABLE [dbo].[tblContract] ADD  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [dbo].[tblEmployer] ADD  DEFAULT ('Employer') FOR [type]
GO
ALTER TABLE [dbo].[tblFreelancer] ADD  DEFAULT ('Freelancer') FOR [type]
GO
ALTER TABLE [dbo].[tblJob] ADD  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [dbo].[tblJobApplication] ADD  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [dbo].[tblAdmin]  WITH CHECK ADD FOREIGN KEY([id_admin])
REFERENCES [dbo].[tblUser] ([id_user])
GO
ALTER TABLE [dbo].[tblContract]  WITH CHECK ADD FOREIGN KEY([id_employer])
REFERENCES [dbo].[tblEmployer] ([id_employer])
GO
ALTER TABLE [dbo].[tblContract]  WITH CHECK ADD FOREIGN KEY([id_freelancer])
REFERENCES [dbo].[tblFreelancer] ([id_freelancer])
GO
ALTER TABLE [dbo].[tblContract]  WITH CHECK ADD FOREIGN KEY([id_job])
REFERENCES [dbo].[tblJob] ([id_job])
GO
ALTER TABLE [dbo].[tblEmployer]  WITH CHECK ADD FOREIGN KEY([id_employer])
REFERENCES [dbo].[tblUser] ([id_user])
GO
ALTER TABLE [dbo].[tblFeedback]  WITH CHECK ADD FOREIGN KEY([id_employer])
REFERENCES [dbo].[tblEmployer] ([id_employer])
GO
ALTER TABLE [dbo].[tblFeedback]  WITH CHECK ADD FOREIGN KEY([id_freelancer])
REFERENCES [dbo].[tblFreelancer] ([id_freelancer])
GO
ALTER TABLE [dbo].[tblFreelancer]  WITH CHECK ADD FOREIGN KEY([id_freelancer])
REFERENCES [dbo].[tblUser] ([id_user])
GO
ALTER TABLE [dbo].[tblFreelancerSkill]  WITH CHECK ADD FOREIGN KEY([id_freelancer])
REFERENCES [dbo].[tblFreelancer] ([id_freelancer])
GO
ALTER TABLE [dbo].[tblFreelancerSkill]  WITH CHECK ADD FOREIGN KEY([id_skill])
REFERENCES [dbo].[tblSkill] ([id_skill])
GO
ALTER TABLE [dbo].[tblJob]  WITH CHECK ADD FOREIGN KEY([id_employer])
REFERENCES [dbo].[tblEmployer] ([id_employer])
GO
ALTER TABLE [dbo].[tblJob]  WITH CHECK ADD FOREIGN KEY([id_major])
REFERENCES [dbo].[tblMajor] ([id_major])
GO
ALTER TABLE [dbo].[tblJob]  WITH CHECK ADD FOREIGN KEY([id_status])
REFERENCES [dbo].[tblJobStatus] ([id_status])
GO
ALTER TABLE [dbo].[tblJobApplication]  WITH CHECK ADD FOREIGN KEY([id_freelancer])
REFERENCES [dbo].[tblFreelancer] ([id_freelancer])
GO
ALTER TABLE [dbo].[tblJobApplication]  WITH CHECK ADD FOREIGN KEY([id_job])
REFERENCES [dbo].[tblJob] ([id_job])
GO
ALTER TABLE [dbo].[tblJobSkill]  WITH CHECK ADD FOREIGN KEY([id_job])
REFERENCES [dbo].[tblJob] ([id_job])
GO
ALTER TABLE [dbo].[tblJobSkill]  WITH CHECK ADD FOREIGN KEY([id_skill])
REFERENCES [dbo].[tblSkill] ([id_skill])
GO
ALTER TABLE [dbo].[tblNotification]  WITH CHECK ADD FOREIGN KEY([id_status])
REFERENCES [dbo].[tblNotiStatus] ([id_status])
GO
ALTER TABLE [dbo].[tblNotification]  WITH CHECK ADD FOREIGN KEY([id_user])
REFERENCES [dbo].[tblUser] ([id_user])
GO
ALTER TABLE [dbo].[tblSkillByMajor]  WITH CHECK ADD FOREIGN KEY([id_major])
REFERENCES [dbo].[tblMajor] ([id_major])
GO
ALTER TABLE [dbo].[tblSkillByMajor]  WITH CHECK ADD FOREIGN KEY([id_skill])
REFERENCES [dbo].[tblSkill] ([id_skill])
GO
ALTER TABLE [dbo].[tblFeedback]  WITH CHECK ADD CHECK  (([rating]>=(0) OR [rating]<=(5)))
GO
ALTER TABLE [dbo].[tblJob]  WITH CHECK ADD CHECK  (([salary]>(0)))
GO
USE [master]
GO
