

.mode_hover:hover{
    opacity: 0.7
}
.login__button {
    display: flex;
    background-color: rgb(35 35 57 / 75%);
    justify-content: center;
    align-items: center;
    font-size: 70%;
    text-transform: none;
    font-weight: bold;
    border-radius: 8px;
    padding: 15px 15px;
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
.active.fade-left {
    animation: fade-left 400ms ease-in;
}
@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.active.fade-right {
    animation: fade-right 400ms ease-in;
}
@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.login__button:hover {
    opacity: 0.8
}
.google-icon {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-right: 10px;
}
.user_hover:hover {
    opacity: 0.8;
    border-radius: 16px
}
.unread_hover:hover{
    background-color: #D5E7FF;
}


.notification_unread:hover,
.notification_read:hover,
.notification--list-admin:hover{
    background-color: #f8f9fa;
}
.notification_unread,
.notification_read,
.notification--list-admin{
    padding: 0; 
    border-radius: 16px;
    position: relative;
    margin-bottom: 10px;
}
.notification_unread:before {
    content: "";
    height: 100%;
    width: 4px;
    background-color: #fb246a;
    position: absolute;
    left: -10px;
}
.notification__unread:before {
    content: "";
    height: 100%;
    width: 4px;
    background-color: #FB246A;
    position: absolute;
}
.notification--img {
    width: 50px;
    height: 50px;
    border-radius: 999px;
}
.notification--list {
    display: flex;
    align-items: center; 
    gap: 10px
}
.notification--list-admin {
    display: flex;
    gap: 10px;
}
.dropdown-notification {
    width: 400px; 
    border-radius: 16px; 
    max-height: 500px; 
    overflow-y: hidden; 
    padding: 10px
}
.dropdown-notification:hover {
    overflow-y: scroll;
}
.notification--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    height: 50px;
}

.notification--count {
    width: 18px;
    height: 18px;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#fb246a;
    color: white;
    position: absolute;
    font-size: 11px;
    bottom: 8px;
    left: 8px;
    transform: none !important;
}

.carousel-img {
    background-color: transparent;
    border: none;
    right: 0;
    top: 0;
}
.carousel-content {
    text-align: left;
    position: absolute;
    left: 15%;
    top: 15%;
    max-width: 735px

}
.carousel-content p:first-child {
    font-size: 3rem;
    line-height: 3rem;
}
.carousel-content p {
    color: white;   
    font-weight: 500;
}
.carousel-content-p{
    font-size: 1.15rem;
    font-weight: bold;
    line-height: 2rem;
}
.carousel-content:before {
    content: "";
    position: absolute;
    width: 125px;
    height: 2px;
    background-color: #2777C6;
    bottom: 0;
    top: 58%;
}
.carousel-button {
    padding: 1rem 2rem;
    font-size: 1.15rem;
    background-color: #005EA6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.carousel-button:hover {
    opacity: 0.8;
}

/*.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;

}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right,
.carousel-fade .carousel-inner .next.right,
.carousel-fade .carousel-inner .prev.left{
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}*/
.carousel-item-2__img {
    width: 450px;
    height: 450px;
}
.carousel-item-3__img {
    width: 300px;
    height: 450px;
}
.carousel-item-2__p p {
    color: black
}
.carousel-content-item-2,
.carousel-content-item-3{
    text-align: left;
    position: absolute;
    left: 15%;
    top: 15%;
    max-width: 735px
}
.carousel-content-item-2 p:first-child {
    font-size: 3rem;
    line-height: 3rem;
}
.carousel-content-item-3 p:first-child {
    font-size: 1.5rem;
    line-height: 3rem;
    color: #a4c639;   
}
.carousel-content-item-2 p{
    color: white;   
    font-weight: 700;
}
.carousel-content-item-3 p {
    color: white;   
    font-weight: 700;
}
.carousel-item-2__p{
    font-size: 1.15rem;
    font-weight: bold;
    line-height: 2rem;
}
.carousel-item-2_button{
    width: 100px;
    height: auto;
    text-align: center;
    background-color: #ea4c89;
    border-radius: 8px;
}
.carousel-item-3_button{
    width: 100px;
    height: auto;
    text-align: center;
    background-color: #a4c639;
    border-radius: 8px;
}
.carousel-item-2_button a {
    padding: 10px 16px; height: 40px;
    display: inline-block;
    line-height: 20px;
}
.carousel-item-3_button a {
    display: inline-block;
    line-height: 20px;
    padding: 8px 8px;
    font-size: 13px;
    width: auto
}
.carousel-item-2_button:hover,
.carousel-item-3_button:hover{
    opacity: 0.8
}
.carousel-indicators .active {
    background-color: #F92469;
}
.carousel-search {
    width: 416px;
    border: 1px solid #ccc;
    padding: 14px 12px; 
    padding-right: 50px;
    font-size: 1rem;
    outline: 0;
    border-radius: 6px;
    overflow: hidden;
}
.carousel-search-button {
    padding: 0px 11px;
    height: 54px;
    top: 0;
    left: 51%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.carousel-search-button:hover {
    opacity: 0.5;
}
.button_slide-item-2,
.button_slide-item-3 {
    border-radius: 4px;
    background-color: #a4c639;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 5px 5px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-weight: 600;
}
.button_slide-item-3:hover {
    opacity: 0.8
}

.button_slide-item-2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button_slide-item-2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button_slide-item-2:hover span {
    padding-right: 25px;
}

.button_slide-item-2:hover span:after {
    opacity: 1;
    right: 0;
}

/*notification list*/
.dropdown-list-image {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
}
.dropdown-list-image img {
    height: 2.5rem;
    width: 2.5rem;
}
.btn-light {
    color: #2cdd9b;
    background-color: #e5f7f0;
    border-color: #d8f7eb;
}
.notification__button{
    background-color: #FB246A;
    border: none;
    cursor: pointer;
}

.notifications-button {
    border: none;
    cursor: pointer
}
.notifications-button:hover,
.notification__button:hover {
    opacity: 0.7
}
.hero-area:before {
    position: absolute;
    content: "";
    left: 0;
    width: 50%;
    background: #74b9ff;
    border-radius: 0 0 100px 0;
    height: 100%;
    top: 0;
}
.hero-area_slide3:before {
    position: absolute;
    content: "";
    left: 0;
    width: 50%;
    background: #00A78E;      
    height: 100%;
    top: 0;
    transform: skewX(20deg);
}
.shape1 {
    margin-left: -25px;
    opacity: 0;
    visibility: hidden;
}
.shape2{
    opacity: 0;
    visibility: hidden;
}
.image:hover > .shape1 {
    opacity: 1;
    visibility: visible;
    transition: transform 500ms ease;
    transform: scale(1) translateY(-20px);
    z-index: 999
}
.image:hover > .shape2 {
    opacity: 1;
    visibility: visible;
    transition: transform 500ms ease;
    transform: scale(1.4) translate(0);
    z-index: 999
}
.section-honorable__name {
    color: #fb246a;
}
.section-honorable__name:hover {
    opacity: 0.6;
    color: #fb246a; 
}
.freelancer_noti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 999rem;
    top: 8px;
    right: 16px;
}
