<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PostJobController</servlet-name>
        <servlet-class>controllers.PostJobController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderJobDetail</servlet-name>
        <servlet-class>controllers.RenderJobDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateJobController</servlet-name>
        <servlet-class>controllers.UpdateJobController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllReport</servlet-name>
        <servlet-class>controllers.GetAllReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostJobController</servlet-name>
        <url-pattern>/PostJobController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderJobDetail</servlet-name>
        <url-pattern>/RenderJobDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateJobController</servlet-name>
        <url-pattern>/UpdateJobController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllReport</servlet-name>
        <url-pattern>/GetAllReport</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>stripePublicKey</param-name>
        <param-value>pk_test_51KvhiHAUs7R0PnXNvCHgUh3k8JkoyEMQXzuAXlYBeffg4shb5TAXOs5a7csCoRwnGX069mXlQaCBh3yrdkPlbR0O00mhJKOh4O</param-value>
    </context-param>
    <context-param>
        <param-name>stripeSecretKey</param-name>
        <param-value>sk_test_51KvhiHAUs7R0PnXN3oBNV0Korkkdp54ta3rJZcsQA9L4xxoVsiAWUQFecAViSCEMI5PzKamTn0FKm4UdsivFAMxA00pQ4lleEl</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HomeController</welcome-file>
    </welcome-file-list>
</web-app>
